<div class="article shadow">
    <div class="article-title">{{article.title}}</div>
    <div class="article-info">撰写于2013/04/25 发表在 <a href="http://www.wangyingran.com/javascript" title="查看 Javascript 中的全部文章" rel="category tag">Javascript</a>, <a href="http://www.wangyingran.com/code" title="查看 代码片段 中的全部文章" rel="category tag">代码片段</a><span class="line">|</span>1,140人来看过<span class="line">|</span><a href="http://www.wangyingran.com/archives/590.html#respond" class="ds-thread-count" data-thread-key="590" title="《键盘KeyCode值对照表》上的评论">0</a>人发表评论
    </div>
    <div class="article-body" ng-bind-html="article.content"></div>
</div>