<div class="article-list shadow" ng-repeat="article in articles">
    <div class="article-title">
        <a ng-href="/article/{{article.id}}" title="{{article.title}}">{{article.title}}</a>
    </div>
    <div class="article-info">
        撰写于2013/11/01 发表在 <a href="http://www.wangyingran.com/share" title="查看 前端分享 中的全部文章" rel="category tag">前端分享</a>
    </div>
    <div class="article-body" ng-bind-html="article.content"></div>
    <a href="/article/{{article.id}}" title="{{article.title}}" target="_blank" class="readmore">阅读全文 »</a>
</div>